<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- <add id="Barhems_MenuTutorial::top_level_example" title="Top Level Example" module="Barhems_MenuTutorial" sortOrder="10" resource="Barhems_MenuTutorial::top_level_example"/> -->
                       
        <add id="Barhems_MenuTutorial" title="Second Level Example" module="Barhems_MenuTutorial" sortOrder="10" resource="Barhems_MenuTutorial::top_level_example" parent="Magento_Backend::content" />                      
        
       <add id="Barhems_MenuTutorial::third_level_example" title="Third Level Example" module="Barhems_MenuTutorial" sortOrder="30" resource="Barhems_MenuTutorial::third_level_example" parent="Barhems_MenuTutorial" /> 
	<add id="Barhems_MenuTutorial::a_menu_item" resource="Barhems_MenuTutorial::example_1" title="Look at me, I'm a link" action="barhems_menututorial/index/index" module="Barhems_MenuTutorial" parent="Magento_Backend::system_other_settings" sortOrder="9999"/></menu>
</config>
