.product-3d-view .wr360wrap {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.checkorder-form .checkorder-results .right{
	text-transform: capitalize;
}

.block.checkorder-form {
    display: none;
}

.cms-home .block.checkorder-form {
    display: block;
}
